layout {
    pane command="nvim"
}

keybinds {
    shared_except "locked" {
        bind "Alt g" {
            Run "lazygit" {
                in_place true
                close_on_exit true
            };
        }
    }
}
